*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    background-color: #374785;
    color: white;
    overflow: hidden;
}
body h1{
    margin-top: 30px;
}
.layer{
    width: 90%;
    margin: 150px auto;
}
.content-layer{
    display: flex;
    height: 30rem;
    width: 100%;
    grid-gap: 50px;
}
.text-layer{
    margin: 80px 50px;
}
.text-layer p{
    max-width: 60ch;
}
.photo-layer{
    width: 600px;
    margin: auto;
}
.carousel{
    margin: auto;
    overflow: hidden;
}
.carousel-slide{
    display: flex;
}
.carousel-slide img{
    width: 600px;
}

.arrow{
    display: flex;
    justify-content: center;
    padding-left: auto;
}
#arrow-left, #arrow-right{
    font-size: 3rem;
    cursor: pointer;
}

@media screen and (max-width:1050px) and (min-width:0px){
    .content-layer{
        display: block;
    }
    .layer{
        margin: 100px auto;
    }
    .text-layer{
        margin-bottom: 20px;
    }
    .text-layer p{
        text-align: center;
    }
}